{% extends 'base.html' %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ title }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group md-2">
            <a href="{% url 'inventory:category_to_excel' %}" class="btn btn-sm btn-secondary ex-tbl d-flex align-items-center justify-content-center mr-2"><ion-icon name="newspaper-outline"></ion-icon>Export</a>
            <!-- <button type="button" class="btn btn-sm btn-secondary ex-tbl d-flex align-items-center justify-content-center mr-2"> <ion-icon name="newspaper-outline"></ion-icon>Export</button> -->
            <button type="button" class="btn btn-sm btn-secondary ex-tbl d-flex align-items-center justify-content-center mr-2"><ion-icon name="print-outline"></ion-icon>Print</button>
          </div>
        </div>
    </div>
    <button type="button" class="btn btn-sm btn-primary ex-tbl d-flex align-items-center justify-content-center mr-2"><ion-icon name="duplicate-outline"></ion-icon>Add</button>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <th>No</th>
                <th>Category Name</th>
                <th class="col-width align-text-center">Action</th>
            </thead>
            <tbody>
                {% for c in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ c.name }}</td>
                    <td class="d-flex align-items-center justify-content-center">
                        <a href="{% url 'inventory:update_category' c.id %}" class="btn btn-xs btn-outline-warning d-flex align-items-center justify-content-center mr-1"><ion-icon name="create-outline"></ion-icon>Update</a>
                        <a href="{% url 'inventory:delete_category' c.id %}" class="btn btn-xs btn-outline-danger d-flex align-items-center justify-content-center mr-1"><ion-icon name="trash-outline"></ion-icon>Delete</a>
                    </td>
                </tr>
                {% endfor %}    
            </tbody>
        </table>
    </div>
{% endblock content %}
