{% extends 'base.html' %}
{% block content %}
    

<h3>{{ title }}</h3>
    <table class="table">
        <thead>
            <th>No</th>
            <th>Category Name</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for c in categories %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ c.name }}</td>
                <td>
                    <a href="">Update</a>
                    <a href="">Delete</a>
                </td>
            </tr>
            {% endfor %}    
        </tbody>
    </table>
{% endblock content %}
