{% extends 'base.html' %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ title }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <!-- <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Print</button>
          </div> -->
        </div>
    </div>
    {% if form.errors %}
      <div class="alert alert-danger">
        <ul>
          {% for field in form %}
            {% for error in field.errors %}
              <li><strong>{{ field.label }}:</strong> {{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="item" class="form-label">Item</label>
            {{ form.item }}
        </div>
        <div class="mb-3">
          <label for="serial_number class="form-label">Serial Number</label>
            {{ form.serial_number }}
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
            {{ form.location }}
        </div>
        <div class="mb-3">
          <label for="ip_address" class="form-label">IP Address</label>
            {{ form.ip_address }}
        </div>
        <div class="mb-3">
          <label for="status" class="form-label">Status</label>
            {{ form.status }}
        </div>
        <div class="mb-3">
          <label for="condition" class="form-label">Condition</label>
            {{ form.condition }}
        </div>
        <div class="mb-3">
          <label for="current_user" class="form-label">Current User</label>
            {{ form.current_user }}
        </div>
                
        <div class="d-flex gap-2">
          <button type="submit" class="btn btn-success  d-flex align-items-center justify-content-center mr-2"><ion-icon name="save-outline"> </ion-icon>Submit</button>
          <button type="reset" class="btn btn-secondary d-flex align-items-center justify-content-center mr-2">
            <ion-icon name="sync-outline"> </ion-icon>Clear</button>
          <a href="{% url 'inventory:list_item' %}" class="btn btn-danger d-flex align-items-center justify-content-center gap-1">
              <ion-icon name="close-circle-outline"></ion-icon> Cancel
          </a>
        </div>
      </form>
{% endblock content %}
